.page {
	width: 100%;
	display: flex;
	justify-content: center;
}

.container {
	width: 100%;
	max-width: 1100px;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	align-items: center;
}
.mapWrapper {
	width: 100%;
	height: 400px;
}
